* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

html {
  font-size: 16px;
}

.grid {
  display: grid;
  grid-template-rows: minmax(88px, 88px) minmax(1000px, auto);
}
.grid nav {
  color: white;
  font-size: 1, 3em;
  font-family: GOST UI 2;
}
.grid .grid__menu {
  background: #3684e2;
  grid-row: 1;
  width: 100%;
  height: 100%;
  font-style: normal;
  font-weight: normal;
}
.grid .grid__menu .menu__content {
  max-width: 1126px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.grid .grid__menu .menu__content .content__1 {
  grid-column: 1;
  text-align: left;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: 10px;
}
.grid .grid__menu .menu__content .content__1 .content__left {
  margin-right: 1em;
  margin-top: 0.4em;
}
.grid .grid__menu .menu__content .content__2 {
  grid-column: 2;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 0.4em;
}
.grid .grid__menu .menu__content .content__2 .content__right {
  margin-right: 1em;
}
.grid .grid__menu .menu__content .content__2 .content__right img {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}
.grid .grid__head {
  background: #e5e5e5;
  grid-row: 2;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 430px) {
  .grid .grid__menu .menu__content .content__2 .content__right {
    display: none;
  }

  .grid .grid__menu .menu__content .content__2 .btn__mobil {
    display: block;
  }
}
.btn__mobil {
  display: none;
  font-size: 5em;
  margin-right: 20px;
}

.head__content {
  grid-row: 1;
}

.content {
  max-width: 1126px;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: minmax(336px, 336px) minmax(1px, 2px) minmax(1fr, 1fr);
  margin: 0 auto;
}
.content .head__content {
  display: grid;
  grid-row: 1;
  grid-template-columns: 3fr 1fr;
}
.content .head__content .content__description {
  grid-column: 1;
}
.content .head__content .content__description .description__name {
  margin-top: 64px;
  margin-bottom: 24px;
  color: #3b4256;
  font-size: 3em;
  max-width: 735.73px;
  max-height: 112px;
  font-family: SF Pro Display;
}
.content .head__content .content__description .description__desc {
  margin-bottom: 40px;
  font-size: 1.25em;
  color: #3b4256;
  max-width: 735.73px;
  max-height: 96px;
  line-height: 24px;
  text-align: justify;
  font-family: GOST UI 2;
}
.content .head__content .content__gerb {
  grid-column: 2;
  display: grid;
  justify-content: start;
  align-content: center;
  margin-bottom: 136px;
  font-family: GOST UI 2;
  font-size: 0.875em;
  line-height: 20px;
  color: #3b4256;
}

.line {
  grid-row: 2;
  max-width: 1120.13px;
  border: 1px solid #3b4256;
  height: 2px;
}

@media only screen and (max-width: 430px) {
  .content {
    grid-template-rows: minmax(250px, 200px) minmax(1px, 2px) minmax(250px, 200px);
  }

  .content .head__content {
    grid-template-columns: 1fr;
  }

  .content .head__content .content__description {
    grid-column: 1;
  }
  .content .head__content .content__description .description__name {
    font-size: 1.5em;
    margin: 25px 0 15px 10px;
    max-height: 100%;
  }
  .content .head__content .content__description .description__desc {
    font-size: 1em;
    line-height: 20px;
    margin: 25px 10px 15px 10px;
    max-height: 100%;
  }

  .content .head__content .content__gerb {
    display: none;
  }
}
.form__content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(344px, 334px) minmax(24px, 24px) minmax(80px, 80px) minmax(24px, 24px) minmax(80px, 80px);
  grid-row: 3;
  max-width: 736px;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
}

.form__content_1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(80px, 80px) minmax(24px, 24px) minmax(992px, 992px) minmax(24px, 24px) minmax(80px, 80px);
  grid-row: 3;
  max-width: 736px;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
}

.form1 {
  grid-row: 1;
  margin-bottom: 24px;
}

.form_2 {
  grid-row: 3;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 16px 48px 32px 1fr;
  grid-template-rows: 80px;
  justify-items: start;
  align-items: center;
}

.form_3 {
  grid-row: 5;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 16px 48px 32px 1fr;
  grid-template-rows: 80px;
  justify-items: start;
  align-items: center;
}

.form__circle {
  grid-column: 2;
  grid-row: 1;
  background-color: #bcc3ca;
  color: #ffffff;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  text-align: center;
  font-family: SF Pro Display;
  font-size: 1.4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__data {
  grid-column: 4;
  grid-row: 1;
  color: #bcc3ca;
  font-family: SF Pro Display;
  font-size: 1.3em;
}

.form_1 {
  grid-row: 1;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 16px 48px 32px 1fr;
  background-color: #ffffff;
}

.color_b {
  background: #0061d9;
  margin-top: 16px;
}

.form__contetn_1 {
  grid-column: 4;
  display: grid;
  grid-template-rows: 24px 32px 24px 80px 16px 80px 16px 48px;
  grid-template-columns: 1fr;
  max-width: 448px;
}

.Name {
  grid-column: 1;
  grid-row: 2;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: bold;
  font-size: 1.3em;
  color: #3b4256;
}

.form_profil {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 18px 20px 18px 1fr;
  grid-template-rows: 16px 20px 6px 18px;
  border-radius: 4px;
  cursor: pointer;
}

.row_4 {
  grid-row: 4;
  border: 2px solid #0061d9;
  background-color: #ffffff;
}

.row_6 {
  grid-row: 6;
  border: none;
  background: #f5f5f7;
}

.form_profil_c {
  grid-column: 2;
  grid-row: 2;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border: solid 6px #0061d9;
}

.form_profil_N {
  grid-row: 2;
  grid-column: 4;
  font-family: GOST UI 2;
  font-style: normal;
  font-weight: bold;
  font-size: 1.125em;
}

.form_profil_f {
  grid-row: 4;
  grid-column: 4;
  font-family: GOST UI 2;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125em;
}

.white {
  border: 2px solid #0061d9;
  background-color: #ffffff;
}

.grey {
  border: none;
  background: #f5f5f7;
}

.black {
  border: solid 1px black;
}

.btn__form {
  background: #0061d9;
  border-radius: 4px;
  grid-column: 1;
  grid-row: 8;
  color: white;
  font-family: GOST UI 2;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.form__data_b {
  color: black;
  font-family: SF Pro Display;
  font-size: 1.35em;
  font-weight: bold;
  grid-column: 4;
  grid-row: 1;
}

.green {
  background-color: #1bc400;
}

.row_1 {
  grid-row: 1;
  background-color: #ffffff;
  display: none;
  grid-template-columns: 16px 48px 32px 1fr;
  grid-template-rows: 80px;
  justify-items: start;
  align-items: center;
}

.form_step_2 {
  grid-row: 3;
  height: 100%;
  width: 100%;
  display: none;
  grid-template-columns: 16px 48px 32px 1fr;
  background-color: #ffffff;
}
.form_step_2 input {
  border: 1px solid rgba(59, 66, 86, 0.5);
  padding-left: 12px;
  border-radius: 4px;
}
.form_step_2 .form__contetn_1 {
  grid-column: 4;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 24px 32px 24px 24px 8px 48px 16px 24px 8px 48px 16px 24px 8px 48px 16px 24px 8px 48px 16px 24px 8px 48px 24px 24px 16px 24px 8px 48px 16px 200px 16px 48px;
  max-width: 448px;
}
.form_step_2 .form__contetn_1 .family {
  grid-row: 4;
  grid-column: 1;
}
.form_step_2 .form__contetn_1 .famInp {
  grid-row: 6;
}
.form_step_2 .form__contetn_1 .name {
  grid-row: 8;
}
.form_step_2 .form__contetn_1 .namInp {
  grid-row: 10;
}
.form_step_2 .form__contetn_1 .patronymic {
  grid-row: 12;
}
.form_step_2 .form__contetn_1 .patronymicInp {
  grid-row: 14;
}
.form_step_2 .form__contetn_1 .email {
  grid-row: 16;
}
.form_step_2 .form__contetn_1 .emailInp {
  grid-row: 18;
}
.form_step_2 .form__contetn_1 .tel {
  grid-row: 20;
}
.form_step_2 .form__contetn_1 .telInp {
  grid-row: 22;
}
.form_step_2 .form__contetn_1 .Document {
  grid-row: 24;
}
.form_step_2 .form__contetn_1 .doc {
  grid-row: 26;
}
.form_step_2 .form__contetn_1 .docInp {
  grid-row: 28;
}
.form_step_2 .form__contetn_1 .pasport__data {
  grid-row: 30;
  display: grid;
  grid-template-rows: 80px 16px 104px;
}
.form_step_2 .form__contetn_1 .pasport__data .port__ser {
  grid-row: 1px;
  display: grid;
  grid-template-columns: 160px 44px 256px;
  grid-template-rows: 24px 8px 48px;
}
.form_step_2 .form__contetn_1 .pasport__data .port__ser .pasport__ser {
  grid-row: 1;
  grid-column: 1;
}
.form_step_2 .form__contetn_1 .pasport__data .port__ser .pasport__nom {
  grid-row: 1;
  grid-column: 3;
}
.form_step_2 .form__contetn_1 .pasport__data .port__ser .serInp {
  grid-row: 3;
  grid-column: 1;
}
.form_step_2 .form__contetn_1 .pasport__data .port__ser .nomInp {
  grid-row: 3;
  grid-column: 3;
}
.form_step_2 .form__contetn_1 .btn__form_step2 {
  background: #0061d9;
  border-radius: 4px;
  grid-column: 1;
  grid-row: 32;
  color: white;
  font-family: GOST UI 2;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.Data {
  grid-row: 3;
  grid-column: 1;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 120px 16px 120px 16px 176px;
  grid-template-rows: 24px 24px 8px 48px;
}
.Data .Data_where {
  grid-row: 1;
  grid-column: 1;
}
.Data .Data__m {
  grid-row: 2;
  grid-column: 3;
}
.Data .Data__y {
  grid-row: 2;
  grid-column: 5;
}
.Data .Data__d {
  grid-row: 2;
  grid-column: 1;
}
.Data .Data__day {
  grid-row: 4;
  grid-column: 1;
}
.Data .Data__month {
  grid-row: 4;
  grid-column: 3;
}
.Data .Data__yarh {
  grid-row: 4;
  grid-column: 5;
}

.step3 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(80px, 80px) minmax(24px, 24px) minmax(80px, 80px) minmax(24px, 24px) minmax(854px, 854px);
  grid-row: 3;
  max-width: 736px;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
}

.row_2_step {
  grid-row: 3;
  background-color: #ffffff;
  display: none;
  grid-template-columns: 16px 48px 32px 1fr;
  grid-template-rows: 80px;
  justify-items: start;
  align-items: center;
}

.conset__step3 {
  display: none;
  grid-row: 5;
  height: 100%;
  width: 100%;
  display: none;
  grid-template-columns: 16px 48px 32px 1fr;
  background-color: #ffffff;
}
.conset__step3 .form__contetn_1 {
  display: grid;
  grid-template-rows: 22px 32px 24px 320px 24px 176px 24px 88px 16px 48px 16px 48px;
}
.conset__step3 .form__contetn_1 .form__contetn__list {
  grid-row: 4;
  grid-template-rows: 24px 8px 48px 8px 96px 8px 72px 8px 72px;
  font-size: 1.125em;
  line-height: 24px;
  color: #3b4256;
  font-family: GOST UI 2;
}
.conset__step3 .form__contetn_1 .form__contetn__list ul {
  display: grid;
  grid-template-rows: 24px 8px 48px 8px 76px 8px 72px 8px 52px;
  grid-template-columns: 426px;
}
.conset__step3 .form__contetn_1 .form__contetn__list ul div {
  grid-row: 1;
  color: #3B4256;
  font-weight: bold;
  grid-column: 1;
}
.conset__step3 .form__contetn_1 .form__contetn__list ul .li_1 {
  grid-row: 3;
  grid-column: 1;
}
.conset__step3 .form__contetn_1 .form__contetn__list ul .li_2 {
  grid-row: 5;
  grid-column: 1;
}
.conset__step3 .form__contetn_1 .form__contetn__list ul .li_3 {
  grid-row: 7;
  grid-column: 1;
}
.conset__step3 .form__contetn_1 .form__contetn__list ul .li_4 {
  grid-row: 9;
  grid-column: 1;
}
.conset__step3 .form__contetn_1 .form__contetn__chebox {
  display: grid;
  grid-row: 6;
  grid-template-rows: 80px 16px 80px;
}
.conset__step3 .form__contetn_1 .form__contetn__chebox .form__contetn__chebox_1 {
  display: grid;
  grid-row: 1;
  grid-template-columns: 18px 20px 10px 350px;
  grid-template-rows: 18px 20px 28px;
}
.conset__step3 .form__contetn_1 .form__contetn__chebox .form__contetn__chebox_1 input {
  grid-row: 2;
  grid-column: 2;
  cursor: pointer;
}
.conset__step3 .form__contetn_1 .form__contetn__chebox .form__contetn__chebox_1 div {
  grid-row: 2;
  grid-column: 4;
}
.conset__step3 .form__contetn_1 .form__contetn__chebox .form__contetn__chebox_2 {
  display: grid;
  grid-row: 3;
  grid-template-columns: 18px 20px 10px 350px;
  grid-template-rows: 18px 20px 28px;
}
.conset__step3 .form__contetn_1 .form__contetn__chebox .form__contetn__chebox_2 input {
  grid-row: 2;
  grid-column: 2;
  cursor: pointer;
}
.conset__step3 .form__contetn_1 .form__contetn__chebox .form__contetn__chebox_2 div {
  grid-row: 2;
  grid-column: 4;
}
.conset__step3 .form__contetn_1 .form__contetn__kolokochik {
  display: grid;
  grid-row: 8;
  grid-template-columns: 20px 16px 16px 376px;
  background: #fff5e6;
  border-radius: 4px;
  grid-template-rows: 18px 20px 28px;
}
.conset__step3 .form__contetn_1 .form__contetn__kolokochik img {
  grid-column: 2;
  grid-row: 2;
}
.conset__step3 .form__contetn_1 .form__contetn__kolokochik div {
  grid-column: 4;
  font-family: GOST UI 2;
  font-style: normal;
  font-weight: normal;
  font-size: 1.126em;
  line-height: 24px;
  grid-row: 2/3;
}
.conset__step3 .form__contetn_1 .form__contetn__link {
  grid-row: 12;
  color: #3b4256;
  font-family: GOST UI 2;
  font-size: 0.875em;
  line-height: 20px;
}
.conset__step3 .form__contetn_1 .form__contetn__link a {
  color: #305edd;
  cursor: pointer;
}
.conset__step3 .form__contetn_1 .btn__form_step3 {
  grid-row: 10;
  background: #0061d9;
  border-radius: 4px;
  grid-column: 1;
  color: white;
  font-family: GOST UI 2;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.step4 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(736px, 736px);
  grid-row: 3;
  max-width: 736px;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1070px) {
  .content {
    margin-left: 10px;
  }
}
@media only screen and (max-width: 750px) {
  .content {
    margin-left: 0px;
  }
}