@import "./zeroing.scss";
@font-face {
    font-family: "San Francisco Pro";
    src: local("San Francisco Pro Display Bold"), local("San-Francisco-Pro-Display-Bold"),
        url("../fonts/SFProDisplay-Bold.woff2") format("woff2"), url("../fonts/SFProDisplay-Bold.woff") format("woff"),
        url("../fonts/SFProDisplay-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
html {
    font-size: 16px;
}
.grid {
    display: grid;
    grid-template-rows:
        minmax(88px, 88px)
        minmax(1000px, auto);
    nav {
        color: white;
        font-size: 1, 3em;
        font-family: "GOST UI 2";
    }
    .grid__menu {
        background: #3684e2;
        grid-row: 1;
        width: 100%;
        height: 100%;
        font-style: normal;
        font-weight: normal;
        .menu__content {
            max-width: 1126px;
            margin: 0 auto;
            display: grid;
            grid-template-columns: 1fr 1fr;
            .content__1 {
                grid-column: 1;
                text-align: left;
                display: flex;
                justify-content: start;
                align-items: center;
                margin-left: 10px;
                .content__left {
                    margin-right: 1em;
                    margin-top: 0.4em;
                }
            }
            .content__2 {
                grid-column: 2;
                text-align: right;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                margin-top: 0.4em;
                .content__right {
                    margin-right: 1em;
                    img {
                        filter: grayscale(100%);
                        -webkit-filter: grayscale(100%);
                    }
                    a {
                        color: rgb(255, 255, 255);
                    }
                }
            }
        }
    }
    .grid__head {
        background: #e5e5e5;
        grid-row: 2;
        width: 100%;
        height: 100%;
    }
}
@media only screen and (max-width: 430px) {
    .grid .grid__menu .menu__content .content__2 .content__right {
        display: none;
    }
    .grid .grid__menu .menu__content .content__2 .btn__mobil {
        display: block;
    }
}
.btn__mobil {
    display: none;
    font-size: 5em;
    margin-right: 20px;
}

.head__content {
    grid-row: 1;
}

.content {
    max-width: 1126px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows:
        minmax(336px, 336px)
        minmax(1px, 2px)
        minmax(800px, 1fr);
    margin: 0 auto;
    .head__content {
        display: grid;
        grid-row: 1;
        grid-template-columns: 3fr 1fr;
        .content__description {
            grid-column: 1;
            .description__name {
                margin-top: 64px;
                margin-bottom: 24px;
                color: #3b4256;
                font-size: 3em;
                max-width: 735.73px;
                max-height: 112px;
                font-family: "San Francisco Pro";
            }
            .description__desc {
                margin-bottom: 40px;
                font-size: 1.25em;
                color: #3b4256;
                max-width: 735.73px;
                max-height: 96px;
                line-height: 24px;
                text-align: justify;
                font-family: "GOST UI 2";
            }
        }
        .content__gerb {
            grid-column: 2;
            display: grid;
            justify-content: start;
            align-content: center;
            margin-bottom: 136px;
            font-family: "GOST UI 2";
            font-size: 0.875em;
            line-height: 20px;
            color: #3b4256;
        }
    }
}
.line {
    grid-row: 2;
    max-width: 1120.13px;
    border: 1px solid #3b4256;
    height: 2px;
    opacity: 0.3;
}
@media only screen and (max-width: 430px) {
    .content {
        grid-template-columns: 1fr;
        grid-template-rows:
            minmax(300px, 250px)
            minmax(1px, 2px)
            minmax(1fr, 1fr);
    }
    .content .head__content {
        grid-template-columns: 1fr;
    }
    .content .head__content .content__description {
        grid-column: 1;
        .description__name {
            font-size: 1.5em;
            margin: 25px 0 15px 10px;
            max-height: 100%;
        }
        .description__desc {
            font-size: 1em;
            line-height: 20px;
            margin: 25px 10px 15px 10px;
            max-height: 100%;
        }
    }
    .content .head__content .content__gerb {
        display: none;
    }
}
.form__content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:
        minmax(344px, 334px)
        minmax(24px, 24px)
        minmax(80px, 80px)
        minmax(24px, 24px)
        minmax(80px, 80px);
    grid-row: 3;
    max-width: 736px;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
}
.form__content_1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:
        minmax(80px, 80px)
        minmax(24px, 24px)
        minmax(992px, 992px)
        minmax(24px, 24px)
        minmax(80px, 80px);
    grid-row: 3;
    max-width: 736px;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
}

.form1 {
    grid-row: 1;
    margin-bottom: 24px;
}
.form_2 {
    grid-row: 3;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 16px 48px 32px 1fr;
    grid-template-rows: 80px;
    justify-items: start;
    align-items: center;
}
.form_3 {
    grid-row: 5;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 16px 48px 32px 1fr;
    grid-template-rows: 80px;
    justify-items: start;
    align-items: center;
}
.form__circle {
    grid-column: 2;
    grid-row: 1;
    background-color: #bcc3ca;
    color: #ffffff;
    width: 48px;
    height: 48px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    text-align: center;
    font-family: "San Francisco Pro";
    font-size: 1.4em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form__data {
    grid-column: 4;
    grid-row: 1;
    color: #bcc3ca;
    font-family: "San Francisco Pro";
    font-size: 1.3em;
}
.form_1 {
    grid-row: 1;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 16px 48px 32px 1fr;
    background-color: #ffffff;
}
.color_b {
    background: #0061d9;
    margin-top: 16px;
}
.form__contetn_1 {
    grid-column: 4;
    display: grid;
    grid-template-rows: 24px 32px 24px 80px 16px 80px 16px 48px;
    grid-template-columns: 1fr;
    max-width: 448px;
    font-family: "GOST UI 2";
    font-style: normal;
    font-weight: normal;
    font-size: 1.125em;
}
.Name {
    grid-column: 1;
    grid-row: 2;
    font-family: "San Francisco Pro";
    font-style: normal;
    font-weight: bold;
    font-size: 1.3em;
    color: #3b4256;
}
.form_profil {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 18px 20px 18px 1fr;
    grid-template-rows: 16px 20px 6px 18px;
    border-radius: 4px;
    cursor: pointer;
}
.row_4 {
    grid-row: 4;
    border: 2px solid #0061d9;
    background-color: #ffffff;
}
.row_6 {
    grid-row: 6;
    border: none;
    background: #f5f5f7;
}
.form_profil_c {
    grid-column: 2;
    grid-row: 2;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border: solid 6px #0061d9;
}
.form_profil_N {
    grid-row: 2;
    grid-column: 4;
    font-family: "GOST UI 2";
    font-style: normal;
    font-weight: bold;
    font-size: 1.125em;
}
.form_profil_f {
    grid-row: 4;
    grid-column: 4;
    font-family: "GOST UI 2";
    font-style: normal;
    font-weight: normal;
    font-size: 1.125em;
}
.white {
    border: 2px solid #0061d9;
    background-color: #ffffff;
}
.grey {
    border: none;
    background: #f5f5f7;
}
.black {
    border: solid 1px black;
}
.btn__form {
    background: #0061d9;
    border-radius: 4px;
    grid-column: 1;
    grid-row: 8;
    color: white;
    font-family: "GOST UI 2";
    font-style: normal;
    font-weight: normal;
    font-size: 1.125em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.form__data_b {
    color: black;
    font-family: "San Francisco Pro";
    font-size: 1.35em;
    font-weight: bold;
    grid-column: 4;
    grid-row: 1;
}
.green {
    background-color: #1bc400;
}
.row_1 {
    grid-row: 1;
    background-color: #ffffff;
    display: none;
    grid-template-columns: 16px 48px 32px 1fr;
    grid-template-rows: 80px;
    justify-items: start;
    align-items: center;
}
.form_step_2 {
    input {
        border: 1px solid rgba(59, 66, 86, 0.5);
        padding-left: 12px;
        border-radius: 4px;
        font-family: "GOST UI 2";
        font-style: normal;
        font-weight: normal;
        font-size: 1.125em;
    }
    grid-row: 3;
    height: 100%;
    width: 100%;
    display: none;
    grid-template-columns: 16px 48px 32px 1fr;
    background-color: #ffffff;
    .form__contetn_1 {
        grid-column: 4;
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-rows:
            24px
            32px
            24px
            24px
            8px
            48px
            16px
            24px
            8px
            48px
            16px
            24px
            8px
            48px
            16px
            24px
            8px
            48px
            16px
            24px
            8px
            48px
            24px
            24px
            16px
            24px
            8px
            48px
            16px
            200px
            16px
            48px;
        max-width: 448px;
        color: #3b4256;
        .family {
            grid-row: 4;
        }
        .famInp {
            grid-row: 6;
        }
        .name {
            grid-row: 8;
        }
        .namInp {
            grid-row: 10;
        }
        .patronymic {
            grid-row: 12;
        }
        .patronymicInp {
            grid-row: 14;
        }
        .email {
            grid-row: 16;
        }
        .emailInp {
            grid-row: 18;
        }
        .tel {
            grid-row: 20;
        }
        .telInp {
            grid-row: 22;
            color: #3b4256;
        }
        .Document {
            grid-row: 24;
            font-weight: bold;
        }
        .doc {
            grid-row: 26;
            color: #3b4256;
        }
        .docInp {
            grid-row: 28;
        }
        .pasport__data {
            grid-row: 30;
            display: grid;
            grid-template-rows: 80px 16px 104px;
            .port__ser {
                grid-row: 1;
                display: grid;
                grid-template-columns: 160px 44px 256px;
                grid-template-rows: 24px 8px 48px;
                .pasport__ser {
                    grid-row: 1;
                    grid-column: 1;
                    color: #3b4256;
                }
                .pasport__nom {
                    grid-row: 1;
                    grid-column: 3;
                    color: #3b4256;
                }
                .serInp {
                    grid-row: 3;
                    grid-column: 1;
                    color: #3b4256;
                }
                .nomInp {
                    grid-row: 3;
                    grid-column: 3;
                    color: #3b4256;
                }
            }
        }
        .btn__form_step2 {
            background: #0061d9;
            border-radius: 4px;
            grid-column: 1;
            grid-row: 32;
            color: white;
            font-family: "GOST UI 2";
            font-style: normal;
            font-weight: normal;
            font-size: 1.125em;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
    }
}
.Data {
    grid-row: 3;
    grid-column: 1;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 120px 16px 120px 16px 176px;
    grid-template-rows: 24px 24px 8px 48px;
    color: #3b4256;
    .Data_where {
        grid-row: 1;
        grid-column: 1;
        color: #3b4256;
    }
    .Data__m {
        grid-row: 2;
        grid-column: 3;
        color: #848e99;
    }
    .Data__y {
        grid-row: 2;
        grid-column: 5;
        color: #848e99;
    }
    .Data__d {
        grid-row: 2;
        grid-column: 1;
        color: #848e99;
    }
    .Data__day {
        grid-row: 4;
        grid-column: 1;
        color: #3b4256;
    }
    .Data__month {
        grid-row: 4;
        grid-column: 3;
        color: #3b4256;
    }
    .Data__yarh {
        grid-row: 4;
        grid-column: 5;
        color: #3b4256;
    }
}

.step3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:
        minmax(80px, 80px)
        minmax(24px, 24px)
        minmax(80px, 80px)
        minmax(24px, 24px)
        minmax(854px, 854px);
    grid-row: 3;
    max-width: 736px;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
}
.row_2_step {
    grid-row: 3;
    background-color: #ffffff;
    display: none;
    grid-template-columns: 16px 48px 32px 1fr;
    grid-template-rows: 80px;
    justify-items: start;
    align-items: center;
}
.conset__step3 {
    display: none;
    grid-row: 5;
    height: 100%;
    width: 100%;
    display: none;
    grid-template-columns: 16px 48px 32px 1fr;
    background-color: #ffffff;
    .form__contetn_1 {
        display: grid;
        grid-template-rows:
            22px
            32px
            24px
            320px
            24px
            176px
            24px
            88px
            16px
            48px
            16px
            48px;
        .form__contetn__list {
            grid-row: 4;
            grid-template-rows: 24px 8px 48px 8px 96px 8px 72px 8px 72px;
            font-size: 1.125em;
            line-height: 24px;
            color: #3b4256;
            font-family: "GOST UI 2";
            ul {
                display: grid;
                grid-template-rows: 24px 8px 48px 8px 96px 8px 72px 8px 52px;
                grid-template-columns: 426px;
            }
            ul div {
                grid-row: 1;
                color: #3b4256;
                font-weight: bold;
                grid-column: 1;
            }
            ul .li_1 {
                grid-row: 3;
                grid-column: 1;
            }
            ul .li_2 {
                grid-row: 5;
                grid-column: 1;
            }
            ul .li_3 {
                grid-row: 7;
                grid-column: 1;
            }
            ul .li_4 {
                grid-row: 9;
                grid-column: 1;
            }
        }
        .form__contetn__chebox {
            display: grid;
            grid-row: 6;
            grid-template-rows: 80px 16px 80px;
        }
        .form__contetn__kolokochik {
            display: grid;
            grid-row: 8;
            grid-template-columns: 20px 16px 16px 376px;
            background: #fff5e6;
            border-radius: 4px;
            grid-template-rows: 18px 20px 28px;
            img {
                grid-column: 2;
                grid-row: 2;
            }
            div {
                grid-column: 4;
                font-family: "GOST UI 2";
                font-style: normal;
                font-weight: normal;
                font-size: 1.126em;
                line-height: 24px;
                grid-row: 2 / 3;
            }
        }
        .form__contetn__link {
            grid-row: 12;
            color: #3b4256;
            font-family: "GOST UI 2";
            font-size: 0.875em;
            line-height: 20px;
            a {
                color: #305edd;
                cursor: pointer;
            }
        }
        .btn__form_step3 {
            grid-row: 10;
            background: #0061d9;
            border-radius: 4px;
            grid-column: 1;
            color: white;
            font-family: "GOST UI 2";
            font-style: normal;
            font-weight: normal;
            font-size: 1.125em;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
    }
}
@media only screen and (max-width: 430px) {
    .step3 {
        grid-template-rows: minmax(80px, 80px) minmax(24px, 24px) minmax(80px, 80px) minmax(24px, 24px) minmax(
                854px,
                1fr
            );
    }
    .conset__step3 {
        grid-template-columns: 16px 16px 48px 32px 1fr;
    }
    .conset__step3 .form__contetn_1 {
        max-width: 380px;
        grid-template-rows: 1px 1px 24px 1fr 24px 250px 1px 140px 16px 48px 16px 48px;
        grid-column-start: 3;
        grid-column-end: 6;
        grid-row: 5;
    }
    .conset__step3 .Name_mobil_step3 {
        display: block;
        grid-column: 4;
        font-family: "San Francisco Pro";
        font-style: normal;
        font-weight: bold;
        font-size: 1.3em;
        color: #3b4256;
        margin-top: 26px;
    }
    .conset__step3 .form__contetn_1 .btn__form_step3 {
        max-width: 270px;
    }
    .conset__step3 .form__contetn_1 .form__contetn__kolokochik {
        max-width: 270px;
    }
    .conset__step3 .form__contetn_1 .form__contetn__kolokochik div {
        max-width: 180px;
    }
    .conset__step3 .form__contetn_1 .form__contetn__list {
        max-width: 320px;
    }
    .conset__step3 .form__contetn_1 .form__contetn__list ul {
        grid-template-rows: 44px 8px 80px 8px 1fr 8px 1fr 8px 80px;
        grid-template-columns: 270px;
    }
    .conset__step3 .form__contetn_1 .Name {
        display: none;
    }
    .conset__step3 .form__contetn_1 .form__contetn__chebox {
        grid-template-rows: 110px 16px 110px;
        grid-template-columns: 270px;
    }
    .form__contetn__chebox_1 {
        max-width: 270px;
        grid-template-columns: 18px 20px 10px 270px;
    }
    .form__contetn__chebox_1 div {
        max-width: 200px;
    }
    .form__contetn__chebox_2 div {
        max-width: 200px;
    }
}

.step4 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(328px, 328px);
    grid-row: 3;
    max-width: 736px;
    margin-top: 40px;
}
@media only screen and (max-width: 430px) {
    .step4 {
        grid-template-rows: minmax(1fr, 1fr);
    }
}
@media only screen and (max-width: 1070px) {
    .content {
        margin-left: 10px;
    }
}
@media only screen and (max-width: 750px) {
    .content {
        margin-left: 0px;
    }
}

.form__contetn__chebox_1 {
    display: grid;
    grid-row: 1;
    grid-template-columns: 18px 20px 10px 350px;
    grid-template-rows: 18px 20px 28px;
    border-radius: 4px;
    background-color: #f5f5f7;
    .check1_div {
        grid-row: 2;
        grid-column: 2;
        cursor: pointer;
    }
    div {
        grid-row: 2;
        grid-column: 4;
        font-family: "GOST UI 2";
        font-style: normal;
        font-weight: normal;
        font-size: 1.125em;
    }
}
.form__contetn__chebox_2 {
    display: grid;
    grid-row: 3;
    grid-template-columns: 18px 20px 10px 350px;
    grid-template-rows: 18px 20px 28px;
    border-radius: 4px;
    background-color: #f5f5f7;
    .check2_div {
        grid-row: 2;
        grid-column: 2;
        cursor: pointer;
    }
    div {
        grid-row: 2;
        grid-column: 4;
        font-family: "GOST UI 2";
        font-style: normal;
        font-weight: normal;
        font-size: 1.125em;
    }
}
.check1:checked {
    border: 2px solid #0061d9;
    background-color: #ffffff;
}
.check1:checked ~ * .form__contetn__chebox_2 {
    border: 2px solid #0061d9;
    background-color: #ffffff;
}
.zayvka {
    display: none;
    grid-row: 1;
    grid-column: 1;
    height: 100%;
    width: 100%;
    grid-template-columns: 16px 48px 32px 256px 32px 256px 96px;
    grid-template-rows: 24px 32px 16px 144px 24px 48px;
    background-color: #ffffff;
    .form__circle {
        margin-top: 16px;
    }
    .form__data_b {
        grid-row: 2;
        grid-column: 4 / 5;
    }
    .zayvka__desc {
        grid-row: 4;
        grid-column-start: 4;
        grid-column-end: 7;
        width: 100%;
        font-family: "GOST UI 2";
        font-size: 1.125em;
        line-height: 24px;
        color: #3b4256;
        a {
            color: #0061d9;
            cursor: pointer;
        }
        .desc_1 {
            .desc_1_span {
                color: black;
                font-weight: bold;
                font-size: 1.2em;
            }
        }
    }
    .btn__katalog {
        grid-row: 6;
        grid-column: 4;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #0061d9;
        border-radius: 4px;
        color: #ffffff;
        font-family: "GOST UI 2";
        font-style: normal;
        font-weight: normal;
        font-size: 1.125em;
        cursor: pointer;
        a {
            color: #ffffff;
        }
    }
    .btn__lich {
        grid-row: 6;
        grid-column: 6;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        font-family: "GOST UI 2";
        font-style: normal;
        font-weight: normal;
        font-size: 1.125em;
        border: 1px solid rgba(0, 80, 178, 0.5);
        cursor: pointer;
        a {
            color: #000000;
        }
    }
}
@media only screen and (max-width: 770px) {
    .content .head__content .content__gerb {
        display: none;
    }
}
.usluga {
    font-family: "GOST UI 2";
    font-size: 0.8em;
    line-height: 20px;
    font-weight: bold;
}
.organ {
    font-family: "GOST UI 2";
    font-size: 0.8em;
    line-height: 20px;
}
@media only screen and (max-width: 430px) {
    .form_1 {
        grid-template-columns: 16px 48px 16px 1fr 16px;
        .form__contetn_1 {
            grid-column: 2 / 5;
            grid-template-rows: 24px 1px 1px 80px 16px 80px 16px 48px;
        }
        .Name_mobil {
            display: block;
        }
    }
    .form_step_2 {
        grid-column: 1;
        grid-row: 3;
        grid-template-columns: 16px 48px 16px 1fr 16px;
    }
    .form_step_2 .form__contetn_1 {
        grid-column-start: 2;
        grid-column-end: 5;
        grid-template-columns: 1fr;
        grid-template-rows: 24px 1px 1px 24px 8px 48px 16px 24px 8px 48px 16px 24px 8px 48px 16px 24px 8px 48px 16px 24px 8px 48px 24px 24px 16px 24px 8px 48px 16px auto 16px 48px 16px;
        .Name {
            display: none;
        }
    }
    .content .form__content_1 {
        grid-column: 1;
        grid-template-rows: minmax(80px, 80px) minmax(24px, 24px) minmax(auto, auto) minmax(24px, 24px) minmax(
                80px,
                80px
            );
    }
    .form_step_2 .form__contetn_1 .pasport__data {
        grid-row: 30;
        display: grid;
        grid-column: 1;
        grid-template-rows: auto 16px auto;
    }
    .form_step_2 .form__contetn_1 .pasport__data .port__ser {
        grid-row: 1;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 24px 8px 48px 10px 24px 8px 48px;
    }
    .form_step_2 .form__contetn_1 .pasport__data .port__ser .pasport__nom {
        grid-row: 5;
        grid-column: 1;
    }
    .form_step_2 .form__contetn_1 .pasport__data .port__ser .nomInp {
        grid-row: 7;
        grid-column: 1;
    }
    .form_step_2 .form__contetn_1 .family {
        grid-column: 1;
    }
    .form_step_2 .form__contetn_1 .famInp {
        grid-column: 1;
    }
    .form_step_2 .form__contetn_1 .name {
        grid-column: 1;
    }
    .form_step_2 .form__contetn_1 .namInp {
        grid-column: 1;
    }
    .form_step_2 .form__contetn_1 .patronymic {
        grid-column: 1;
    }
    .form_step_2 .form__contetn_1 .patronymicInp {
        grid-column: 1;
    }
    .form_step_2 .form__contetn_1 .email {
        grid-column: 1;
    }
    .form_step_2 .form__contetn_1 .emailInp {
        grid-column: 1;
    }
    .form_step_2 .form__contetn_1 .tel {
        grid-column: 1;
    }
    .form_step_2 .form__contetn_1 .telInp {
        grid-column: 1;
    }
    .form_step_2 .form__contetn_1 .Document {
        grid-column: 1;
    }
    .form_step_2 .form__contetn_1 .doc {
        grid-column: 1;
    }
    .form_step_2 .form__contetn_1 .docInp {
        grid-column: 1;
    }
    .Data {
        grid-row: 3;
        grid-column: 1;
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 24px 24px 1px 48px  8px 24px 8px 48px  8px 24px 8px 48px;
        color: #3b4256;
    }
    .Data .Data__m {
        grid-column: 1;
        grid-row: 6;
    }
    .Data .Data__y {
        grid-column: 1;
        grid-row: 10;
    }
    .Data .Data__month {
        grid-column: 1;
        grid-row: 8;
    }
    .Data .Data__yarh {
        grid-column: 1;
        grid-row: 12;
    }
}
.Name_mobil {
    display: none;
    grid-column: 4;
    grid-row: 1;
    font-family: "San Francisco Pro";
    font-style: normal;
    font-weight: bold;
    font-size: 1.3em;
    color: #3b4256;
    margin-top: 26px;
}
.content__left_u {
    font-family: "GOST UI 2";
    font-style: normal;
    font-size: 1.125em;
    line-height: 20px;
}

input[type="checkbox"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    outline: none;
    content: none;
}
input[type="checkbox"]:before {
    font-family: "FontAwesome";
    content: "\f00c";
    font-size: 13px;
    color: transparent !important;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 1px;
}

input[type="checkbox"]:checked:before {
    background: #0061d9 !important;
    color: rgb(255, 255, 255) !important;
}
@media only screen and (max-width: 430px) {
    .zayvka {
        display: none;
        grid-row: 1;
        grid-column: 1;
        height: 500px;
        width: 100%;

        grid-template-columns: 10px 48px 32px auto 10px;
        grid-template-rows: 24px 32px 26px 240px 16px 48px 16px 48px 16px;
        background-color: #ffffff;
        .zayvka__desc {
            grid-row: 4;
            grid-column-start: 2;
            grid-column-end: 5;
        }
        .btn__katalog {
            grid-row: 6;
            grid-column-start: 2;
            grid-column-end: 5;
        }
        .btn__lich {
            grid-row: 8;
            grid-column-start: 2;
            grid-column-end: 5;
        }
    }
}
.Name_mobil_step3 {
    display: none;
}
